
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:#333;
    color:white;
}

header a{
    color:white;
    margin-left:10px;
    text-decoration:none;
}

/* MENU */
nav{
    background:#555;
}

nav ul{
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
}

nav ul li{
    padding:15px 20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

/* LAYOUT */
.container{
    display:flex;
    padding:20px;
}

/* SIDEBAR */
.sidebar{
    width:25%;
    background:white;
    padding:15px;
}

/* CONTENT */
.content{
    width:75%;
    display:flex;
    gap:20px;
    padding-left:20px;
}

/* BOX */
.box{
    width:30%;
    background:white;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    overflow:hidden;
}

/* IMAGE FULL COVER */
.box-image{
    height:180px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* IMAGES */
.img1{ background-image:url("box1.jpg"); }
.img2{ background-image:url("box2.jpg"); }
.img3{ background-image:url("box3.jpg"); }

.box h3{
    margin:10px 0;
}

.box p{
    padding:10px;
}

/* FOOTER */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}
